<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p XXXX >Contact Csaba</p>
      <p>
        Contact Csaba
      </p>
      <p> Soundcloud : <a href="soundloud.com/csabikam">Csabikam Soundcloud</a>
    </div>
  </section>
</body>
</html>
